<section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <h3 class="page-header bg-gray" style="padding-bottom: 1px;">Master</h3>
      <div class="row">
        <div ng-controller="BarangListController">
                <div class="col-md-4 col-sm-6 col-xs-12">          
                <div class="small-box bg-purple">
                  <div class="inner">
                      <h3>4</h3>
                      <p>Barang</p>
                  </div>
                  <div class="icon">
                      <i class="fa fa-cubes"></i>
                  </div>
                  <a href="#masterdata/barang" class="small-box-footer">Info lengkap</a>
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">          
          <div class="small-box bg-green">
            <div class="inner">
                <h3>4</h3>
                <p>Customer</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#masterdata/customer" class="small-box-footer">Info lengkap</a>
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">          
          <div class="small-box bg-aqua">
            <div class="inner">
                <h3>3</h3>
                <p>Supplier</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#masterdata/supplier" class="small-box-footer">Info lengkap</a>
          </div>
          <!-- /.info-box -->
        </div>
      </div>
      <h3 class="page-header bg-gray" style="padding-bottom: 1px;">Transaksi</h3>
      <div class="row">          
        <div class="col-md-4 col-sm-6 col-xs-12">          
          <div class="small-box bg-red">
            <div class="inner">
                <h3>2</h3>
                <p>Pembelian</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="#transaksi/pembelian" class="small-box-footer">Info lengkap</a>
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">          
        <div class="small-box bg-yellow">
          <div class="inner">
              <h3>3</h3>
              <p>Penjualan</p>
          </div>
          <div class="icon">
              <i class="fa fa-shopping-cart"></i>
          </div>
          <a href="#transaksi/penjualan" class="small-box-footer">Info lengkap</a>
        </div>
        <!-- /.info-box -->
      </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->