<section class="content-header">
  <h1>
    Detail Customer
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="workspace.html"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#masterdata/customer">Customer</a></li>
    <li class="active">Detail Customer</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
<div class="row">
<div class="col-xs-12">
    <div class="box box-info">
        <!-- /.box-header -->
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label class="col-md-2">Kode</label>
                <label class="col-md-5" style="font-weight: normal;"><span style="font-weight: bold;">: </span>{{customer.kode}}</label>
            </div>
            <br/>
            <hr>
            <div class="form-group">
                <label class="col-md-2">Nama Customer</label>
                <label class="col-md-5" style="font-weight: normal;" ><span style="font-weight: bold;">: </span>{{customer.nama}}</label>
            </div><br/>
            <hr>
            <div class="form-group">
                <label class="col-md-2">Alamat</label>
                <label class="col-md-5" style="font-weight: normal;"><span style="font-weight: bold;">: </span>{{customer.alamat}}</label>
            </div><br/>
            <hr>
            <div class="form-group">
                <label class="col-md-2">No.Telepon</label>
                <label class="col-md-5" style="font-weight: normal;"><span style="font-weight: bold;">: </span>{{customer.no_telp}}</label>
            </div><br/>
            <hr>
            <div class="form-group">
                <label class="col-md-2">Email</label>
                <label class="col-md-5" style="font-weight: normal;"><span style="font-weight: bold;">: </span> {{customer.email}}</label>
            </div><br/>
            <hr>
        </div>
    </div>  
  </div>
</div>
  <!-- /.box -->
</section>